.table {
  width: 40.625rem;
  display: flex;
  justify-content: space-between;

  &__items {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 25rem;
  }

  &__title {
    text-decoration-line: underline;
    text-decoration-color: black;
  }
}
