<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  type="button"
  label="Cambiar nombre"
  icon="pi pi-thumbs-up-fill"
  iconPos="right"
  class="p-button-help"
  (click)="mostrarNombre()"
></button>

<p-card header="{{nombre | titlecase}}" subheader="subtitulo" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>

</p-card> -->