<div class="text-layout">
  <h1>Pipes básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>

  <div class="grid">
    <div class="md:col-6 sm:col-9">
      <p-card header="uppercasse" [subheader]="nombreLower | uppercase">
        {{ nombreLower | uppercase }}</p-card
      >
    </div>
    <div class="md:col-6 sm:col-9">
      <p-card header="lowercase" [subheader]="nombreLower | lowercase">
        {{ nombreLower | lowercase }}
      </p-card>
    </div>
    <div class="md:col-6 sm:col-9">
      <p-card header="nombrecompleto" [subheader]="nombreCompleto | titlecase">
        {{ nombreCompleto | titlecase }}
      </p-card>
    </div>
  </div>
</div>
<div class="text-layout">
  <h1>Date - Fecha - Pipe</h1>
  <p>Pipes Para mostrar fechas</p>

  <div class="grid">
    <div class="md:col-6 sm:col-9">
      <p-card>
        <ul>
          <li>fecha</li>
          <li>fecha | date</li>
          <li>fecha | date : 'short'</li>
          <li>fecha | date : 'medium'</li>
          <li>fecha | date : 'long'</li>
          <li>fecha | date : 'MMMM'</li>
          <li>fecha | date : 'dd/MM/yyyy'</li>
        </ul>
        <ul>
          <li>fecha | date : 'long':'GMT-6'</li>
          <li>fecha | date : 'long':'GMT-4'</li>
        </ul>
      </p-card>
    </div>
    <div class="md:col-6 sm:col-9">
      <p-card>
        <ul>
          <li>{{ fecha }}</li>
          <li>{{ fecha | date }}</li>
          <li>{{ fecha | date : "short" }}</li>
          <li>{{ fecha | date : "medium" }}</li>
          <li>{{ fecha | date : "long" }}</li>
          <li>{{ fecha | date : "MMMM" }}</li>
          <li>{{ fecha | date : "dd/MM/yyyy" }}</li>
        </ul>
        <ul>
          <li>{{ fecha | date : "long" : "GMT-6" }}</li>
          <li>{{ fecha | date : "long" : "GMT-4" }}</li>
          <li>{{ fecha | date : "long" : "" : 'fr' }}</li>
          <li>{{ fecha | date : "long" : "" : 'es' }}</li>
          <li>{{ fecha | date : "long" : "" : 'ca-ES-valencia' }}</li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
